.card {
  max-width: 30em;
  flex-direction: row;
}

.card img {
  max-width: 25%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover {
  color:#00A0C6;
  text-decoration:none;
  cursor:pointer;
}
